.header-text {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #00b0a5;
  margin: 30px auto;
}

.header-content {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
  text-align: center;
  color: #000000;
  margin: 14px auto;
}

.card-main {
  border: 1px solid transparent;
}

.card-main .card {
  border: 0px solid transparent;
}

.card-main .card-header {
  border-radius: 2px;
  background-color: #eee3ee;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.card-header-active {
  background-color: #91288d !important;
}

.card-header-active .btn-link {
  color: #fff !important;
}

.card-main .btn-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #801b7c;
  text-decoration: none;
}

.form-check-label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #333333;
}

.form-check-input:checked {
  background-color: #91288d !important;
}

.label-sm {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #777777;
  margin: 30px 0 10px;
}

.card-tags {
  border-radius: 2px;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #dadada;
  background-color: #ffffff;
  margin: 30px 0;
}

.nav-tabs-tag {
  border-bottom: 2px solid #d8d1d8;
}

.nav-link {
  border: 1px solid transparent !important;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #929292;
}

.nav-link.active {
  color: #91288d !important;
  border-bottom: 2px solid #91288d !important;
}

.badge-secondary {
  width: 202px;
  height: 27px;
  line-height: 20px;
  border-radius: 13.5px;
  border: solid 1px #bebebe;
  background-color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin: 20px 0;
}

.icon-plus {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0 15px;
  color: #91288d;
  line-height: 18px;
}

.badge-primary {
  border-radius: 13.5px;
  height: 27px;
  background-color: #e7f7f6;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 0 10px;
}

.icon-text {
  color: #91288d;
  padding: 10px;
  font-size: 14px;
}

.card-sidebar {
  border: 0px solid transparent;
}

.card-sidebar .card-header {
  border-radius: 2px;
  background-color: #00b0a5;
}

.card-sidebar .btn-link,
.content-header,
.card-header {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.card-sidebar .card-body {
  padding: 0;
}

#accordion-sidebar .card {
  border: 0px solid transparent;
}

#accordion-sidebar .card .card-header {
  border-radius: 2px;
  background-color: #e3f3f2;
  font-weight: 500;
  border: 0px solid transparent;
  text-align: left;
}

#accordion-sidebar .card .btn-link {
  font-family: Poppins;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.service-list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.flex-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text {
  width: 80%;
  text-align: left;
}
.price {
  width: 20%;
  text-align: right;
}

.message-danger {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #d2175d;
  margin: 20px auto;
}

.service-list {
  list-style: none;
}

.text {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.price {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.17;
  text-align: right;
  color: #000000;
}

.sub-total-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  text-align: left;
  color: #000000;
}

.total-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  text-align: left;
  color: #000000;
}

.ordered-list {
  font-family: Poppins;
  font-size: 12px;
  text-align: left;
  margin: 14px 0;
  padding: 0 15px;
}

.ordered-list_item {
  line-height: 2;
  color: #333333;
}
