body {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    background: #fff;
}

.page-container {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.image-container {
    height: 100%;
}

.banner-image {
    width: 100%;
    height: auto;
}

.form-container {
    height: 100%;
}

.logo {
    display: block;
    width: 210px;
    height: auto;
    margin: 37px auto;
}

.form-header {
    font-family: Poppins;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #91288d;
    margin: 30px auto;
    position: relative;
}

.form-header::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    width: 30px;
    height: 1px;
    background-color: #cfcfcf;
}

.form-header::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 30%;
    width: 30px;
    height: 1px;
    background-color: #cfcfcf;
}

.option-selector {
    margin: 30px auto;
}

.form-check-label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    text-align: left;
    color: #000000;
}

.additional-info {
    display: block;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    color: #91288d;
}

.btn-primary {
    width: 218px;
    height: 42px;
    border-radius: 21px;
    background-color: #91288d;
    outline: none;
    border: 1px solid transparent;
    display: block;
    margin: 36px auto;
}

.input-group-text {
    background: none;
    border: none;
}

.input-group {
    border-radius: 3px;
    height: 56px;
    border: solid 1px #e7e7e7;
}

.input-item {
    border: none;
    outline: none;
}

.links {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.link {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    color: #91288d;
    text-decoration: underline;
}

.link-text {
    font-size: 11px;
    font-weight: 300;
    color: #4d4d4d;
}

.info-bold {
    margin: 22px auto;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    text-align: center;
    color: #000000;
}

.link-bold {
    font-weight: 600;
    color: #91288d;
    text-decoration: underline;
}

.sid-info-modal {
    /* position: relative; */
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #91288d;
}

.content-img {
    width: 100%;
    height: auto;
}

.modal-header {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #91288d;
}

.modal-content {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    color: #000000;
}